.vidaloka {
    font-family: 'Vidaloka', serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.timer {
    background-color: #ff7d5a;
    
}

.mind {
    background-color: #2090b7;
    
}

.tasks {
    background-color: #93462e;
    
}

li {
    font-family: 'Roboto', sans-serif;
}